@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: whitesmoke;
  scroll-behavior: smooth;

}

#bg2 {
  background: rgb(255,160,160);
  background: linear-gradient(41deg, rgba(255,160,160,1) 0%, rgba(255,175,175,1) 4%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 22%, rgba(255,255,255,1) 27%, rgba(255,255,255,1) 48%, rgba(240,242,244,1) 72%, rgba(188,236,255,1) 81%, rgba(190,246,255,1) 85%, rgba(120,237,228,1) 97%);
}

#bg {
  
  background: rgb(255,255,255);
  background: linear-gradient(63deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 4%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 22%, rgba(255,255,255,1) 27%, rgba(225,225,249,1) 48%, rgba(159,220,255,1) 72%, rgba(145,206,231,1) 81%, rgba(131,218,232,1) 85%, rgba(120,205,237,1) 97%);
}